---
layout: default
---

    <article id="main">
  <header class="special container">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
        
  <div class="w3-content" style="max-width:1200px">
  <img class="mySlides" src="{{ site.baseurl }}/images/pic02.jpg" style="width:100%">
  <img class="mySlides" src="{{ site.baseurl }}/images/pic03.jpg" style="width:100%">
  <img class="mySlides" src="{{ site.baseurl }}/images/pic04.jpg" style="width:100%">

  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img class="demo w3-opacity" 
      src="{{ site.baseurl }}/images/pic02.jpg" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity"
      src="{{ site.baseurl }}/images/pic03.jpg" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity" 
      src="{{ site.baseurl }}/images/pic04.jpg" onclick="currentDiv(3)">
    </div>
  </div>
</div>
        
  <section class="style4 wrapper container">
    {{ content }}
  </section>
    
    <footer>
        {% if page.previous %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" class="post-prev">&larr; Previous project</a> {% endif %}
        {% if page.next %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" class="post-next">Next project &rarr;</a> {% endif %}
    </footer>
</article>

